[submodule "source/org/json"]
	path = source/org/json
	url = https://github.com/douglascrockford/JSON-java.git
[submodule "source/py-jasl"]
	path = source/py-jasl
	url = git@github.com:craigonic/python-jasl.git
